<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        body{
            background-color: #e4c3c8;
        }
        h2{
            text-align: center;
            color:#81129c;
            font-size: 30px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h2>Edit</h2>
    <form action="./edit" method="POST" enctype="multipart/form-data" >
        <input type="hidden" name="idBook" value="<%- book._id%>" />
        <input type="text" value="<%- book.Name%>" name = "textName" placeholder="Name" />
        <img src="upload/<%- book.Image%>" alt="" width="10%">
        <input type="file" name="imgBook" />
        <input type="text" value="<%- book.Author%>" name = "textAuthor" placeholder="Author" />
        <input type="text" value="<%- book.Cost%>" name="textCost" placeholder="Cost" />
        <input type="submit" value="Edit" />
    </form>
    
</body>
</html>